<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8' />
      <title>Satellite Maps</title>
      <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet'>
      <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
      <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
      <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.min.js'></script>
      <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css' type='text/css'/>
      <link href='static/style.css' rel='stylesheet' />
      <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon" />

  </head>
  <body>
  <div id='map' class='map'> </div>
  <div id='menu'>
    <input id='satellite' type='radio' name='rtoggle' value='satellite'>
    <label for='satellite'>satellite</label>
    <input id='satellite-streets' type='radio' name='rtoggle' value='satellite' checked='checked'>
    <label for='satellite'>satellite-streets</label>
  </div>
  <div id='info'>Copied latitude and longitude to clipboard.</div>
  <script>

  mapboxgl.accessToken = '{{ MAPBOX_ACCESS_TOKEN }}'
  mapbox_style_verion = '-v9'

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/satellite-streets' + mapbox_style_verion,
    center: [0.000000, 0.000000],
    zoom: 0.0,
    scrollZoom: true
  });

  var layerList = document.getElementById('menu');
  var inputs = layerList.getElementsByTagName('input');

  function switchLayer(layer) {
    var layerId = layer.target.id;
    map.setStyle('mapbox://styles/mapbox/' + layerId + mapbox_style_verion);
  }

  for (var i = 0; i < inputs.length; i++) {
    inputs[i].onclick = switchLayer;
  }

  map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  }));

  map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
      enableHighAccuracy: true
    },
    trackUserLocation: true
  }));

  map.on('click', (e) => {
    feature = JSON.stringify(e.lngLat);
    copyToClipboard(feature)
    showInfo()
  })

  function copyToClipboard(str) {
    const el = document.createElement('textarea');
    el.value = str;
    document.body.appendChild(el);
    el.select();
    document.execCommand('copy');
    document.body.removeChild(el);
  }

  function showInfo() {
    var x = document.getElementById('info');
    x.className = 'show';
    setTimeout(function(){ x.className = x.className.replace('show', ''); }, 2000);
  }
  </script>
  </body>
</html>
